@model CVPortalen.Models.Profil

@{
    ViewBag.Title = "Create Profile";
}

<h2>Create New Profile</h2>

<form asp-action="CreateProfil" method="post" enctype="multipart/form-data">
    <input type="hidden" asp-for="AnvandarNamn" value="@User.Identity.Name" />
    <input type="hidden" asp-for="Losenord" value="******" />

    <div class="form-group">
        <label asp-for="Name">Name:</label>
        <input asp-for="Name" class="form-control" />
    </div>
    <div class="form-group">
        <label asp-for="Adress">Address:</label>
        <input asp-for="Adress" class="form-control" />
    </div>
    <div class="form-group">
        <label asp-for="TelefonNummer">Phone Number:</label>
        <input asp-for="TelefonNummer" class="form-control" />
    </div>
    <div class="form-group">
        <label asp-for="Epost">Email:</label>
        <input asp-for="Epost" class="form-control" />
    </div>

    <div class="form-group">
        <label asp-for="ProfilePicture">Profile Picture:</label>
        <input type="file" name="ProfilePicture" class="form-control" />
    </div>

    <div class="form-group">
        <button type="submit" class="btn btn-success">Create Profile</button>
    </div>
</form>


