@model CV

<h2>Skapa nytt CV</h2>

<form asp-action="Create" asp-controller="CvSida">
    <div class="form-group">
        <label asp-for="Skapare"></label>
        <input asp-for="Skapare" class="form-control" />
        <span asp-validation-for="Skapare" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="Utbildningar"></label>
        <input asp-for="Utbildningar" class="form-control" />
        <span asp-validation-for="Utbildningar" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="Kompetenser"></label>
        <input asp-for="Kompetenser" class="form-control" />
        <span asp-validation-for="Kompetenser" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="TidigareErfarenheter"></label>
        <textarea asp-for="TidigareErfarenheter" class="form-control"></textarea>
        <span asp-validation-for="TidigareErfarenheter" class="text-danger"></span>
    </div>
    <div class="form-group">
        <button type="submit" class="btn btn-success">Spara CV</button>
    </div>
</form>

