

<!DOCTYPE html>
<html>
<head>
    <title>CV Portal - Alla CV</title>
</head>
<body>
    <h1>CV Portal - Alla CV</h1>

    @if (Model.Any())
    {
    <ul>
        @foreach (var cv in Model)
            {
        <li>
            <strong>@cv.Titel</strong>
            <p>Arbetsplats: @cv.Arbetsplats</p>
            <p>Beskrivning: @cv.Beskrivning</p>
            <p>Skapad av: @cv.Anvandare</p>
            <a href="/CV/Edit/@cv.CVId">Redigera</a>
        </li>
            }
    </ul>
    }
    else
    {
    <p>Inga CV hittades. <a href="/CV/Create">Skapa ett nytt CV</a></p>
    }
</body>
</html>

