@model CV
@* Vy för att redigiera sitt CV
 *@    <h2>Edit CV</h2>   
                <form asp-action="EditCV" asp-controller="CVSida" method="post">
                    <input type="hidden" asp-for="CVId" />
                    <div class="form-group">
                        <label asp-for="TidigareErfarenheter"></label>
                        <input asp-for="TidigareErfarenheter" class="form-control"></input>
                        <span asp-validation-for="TidigareErfarenheter" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="Utbildningar"></label>
                        <input asp-for="Utbildningar" class="form-control"/>
                        <span asp-validation-for="Utbildningar" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="Kompetenser"></label>
                        <textarea asp-for="Kompetenser" class="form-control"></textarea>
                        <span asp-validation-for="Kompetenser" class="text-danger"></span>
                    </div>

                    <div class="form-group">
                        <button type="submit" class="btn btn-primary">Save Changes</button>
                        <a asp-action="CVStart" asp-controller="CVSida" asp-route-id="@Model.CVId" class="btn btn-secondary">Back to CV</a>

                    </div>
                    </form>

                
           

    <!-- jQuery and Bootstrap JavaScript (if not already included) -->
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
