@model CVPortalen.Models.CV

<h1>Create CV</h1>

<form id="cvForm">
    <div>
        <label asp-for="Titel"></label>
        <input asp-for="Titel" required />
    </div>
    <div>
        <label asp-for="Arbetsplats"></label>
        <input asp-for="Arbetsplats" required />
    </div>
    <div>
        <label asp-for="Beskrivning"></label>
        <textarea asp-for="Beskrivning"></textarea>
    </div>
    <button type="button" class="btn btn-primary" onclick="SparaCV()">Spara CV</button>

    <a asp-action="SkapaCVSida" asp-controller="CVSida"> Gå Tillbaka </a>
</form>

<script>
    function SparaCV() {
        var cvData = {
            Titel: document.getElementById('Titel').value,
            Arbetsplats: document.getElementById('Arbetsplats').value,
            Beskrivning: document.getElementById('Beskrivning').value
        };

        $.ajax({
            type: 'POST',
            url: '/CVSida/SkapaCV', // Uppdaterad URL
            contentType: 'application/json',
            data: JSON.stringify(cvData),
            success: function (response) {
                // Handle success, e.g., redirect to a success page
                window.location.href = '/CVSida/SkapaCVSida';
            },
            error: function (error) {
                // Handle error
                console.error('Error saving CV:', error);
            }
        });
    }
</script>


