@{
    ViewData["Title"] = "Home Page";
}

<div class="container">
    @if (User.Identity.IsAuthenticated)
    {
        <h1>Välkommen!</h1>
        <p>Här är innehållet för inloggade användare.</p>
    }
    else
    {
        <h1>Home Page</h1>
        <p>Välkommen till startsidan!</p>
        <p>Om du har ett konto, vänligen <a asp-area="" asp-controller="Account" asp-action="LogIn">logga in</a>.</p>
    }
</div>

<div class="image-container">
    <!-- Existing Image Boxes -->
</div>

<!-- Add a table for images at the bottom of the page -->
<table class="bottom-table">
    <tr>
        <td>
            <a asp-action="CVStart" asp-controller="CVSida" class="image-link">
                <div class="image-box">
                    <img src="https://cdn-icons-png.flaticon.com/512/6588/6588143.png" alt="Image 1">
                </div>
                <p>CV:n</p>
            </a>
        </td>
        <td>
            <a asp-action="ProjektStart" asp-controller="Projektsida" class="image-link">
                <div class="image-box">
                    <img src="https://cdn-icons-png.flaticon.com/512/1540/1540251.png" alt="Image 2">
                </div>
                <p>PRojekten</p>
            </a>
        </td>
    </tr>
    <!-- Additional row 1 -->
    <tr>
        <td>
            <a asp-action="ZlatanCV" asp-controller="CVSida" class="image-link">
                <div class="image-box">
                    <img src="https://static.posters.cz/image/750/poster/manchester-united-ibrahimovic-16-17-i33479.jpg" alt="Image 3">
                </div>
                <p>Zlatan Ibrahimovic</p>
            </a>
        </td>
        <!-- Additional row 2 -->
        <td>
            <a asp-action="GatesCV" asp-controller="CVSida" class="image-link">
                <div class="image-box">
                    <img src="https://imageio.forbes.com/specials-images/imageserve/62d599ede3ff49f348f9b9b4/0x0.jpg?format=jpg&crop=821,821,x155,y340,safe&height=416&width=416&fit=bounds" alt="Image 4">
                </div>
                <p>Bill Gates</p>
            </a>
        </td>
    </tr>
</table>
