@{
    ViewData["Title"] = "Home Page";




}

@*<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://learn.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>*@




@* Logga ut knapp funkar inte än *@

@if (User.Identity.IsAuthenticated) {
<form method="post" asp-controller="Account" asp-action="Loggaut">
    
            <h2>Du är loggad in som @User.Identity.Name</h2>
            <input type="submit" value="Logga ut" />
</form>
}


