@model IEnumerable<Message>

@{
    ViewData["Title"] = "Home Page";
}

<div class="container">
    <h1>Home Page</h1>
</div>



<div class="image-container">
    <div class="top-row">
        <a asp-action="CVStart" asp-controller="CVSida" class="image-link">
            <div class="image-box">
                <img src="https://cdn-icons-png.flaticon.com/512/6588/6588143.png" alt="Image 1">
            </div>
        </a>
    </div>
    <div class="top-row">
        <a asp-action="ProjektStart" asp-controller="Projektsida" class="image-link">
            <div class="image-box">
                <img src="https://cdn-icons-png.flaticon.com/512/1540/1540251.png" alt="Image 1">
            </div>
        </a>
    </div>
</div>




