@model Projekt
@* Vyn för att skapa ett projekt
 *@<h2>Create New Project</h2>

<form asp-action="CreateProjekt" asp-controller="Projektsida" method="post">
    <div class="form-group">
        <label asp-for="ProjektName"></label>
        <input asp-for="ProjektName" class="form-control" />
        <span asp-validation-for="ProjektName" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="Artal"></label>
        <input asp-for="Artal" class="form-control" />
        <span asp-validation-for="Artal" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="Infromation"></label>
        <textarea asp-for="Infromation" class="form-control"></textarea>
        <span asp-validation-for="Infromation" class="text-danger"></span>
    </div>
    <div class="form-group">
        <button type="submit" class="btn btn-success">Save Project</button>
    </div>
</form>

