 @model AnvandarRegisterViewModel

@{
    ViewBag.Titel = "Registrera Ny Användare";
}

<div asp-validation-summary="All" class="text-danger"></div>

<form method="post" asp-action="Registrera">
    <div class="form-group row">
        <div class="col-sm-2">
            <label>Användarnamn: </label>
        </div>
        <div class="col-sm-4">
            <input asp-for="AnvandarNamn" class="form-control" />
        </div>
    </div>
    <div class="form-group row">
        <div class="col-sm-2">
            <label>Lösenord: </label>
        </div>
        <div class="col-sm-4">
            <input asp-for="Losenord" class="form-control" />
        </div>
    </div>
    <div class="form-group row">
        <div class="col-sm-2">
            <label>Bekräfta lösenord: </label>
        </div>
        <div class="col-sm-4">
            <input asp-for="BekraftaLosenord" class="form-control" />
        </div>
    </div>


    <div class="form-group row">
        <div class="offset-2 col-sm-4">
            <button type="submit" class="btn btn-primary">Registrera</button>
        </div>
    </div>
</form>
@*  <div asp-validation-summary="All" class="text-danger"></div>

<form method="post" asp-action="Registrera">
    <div class="form-group row">
        <div class="col-sm-2">
            <label>Användarnamn: </label>
        </div>
        <div class="col-sm-4">
            <input asp-for="AnvandarNamn" class="form-control" />
        </div>
    </div>
    <div class="form-group row">
        <div class="col-sm-2">
            <label>Lösenord: </label>
        </div>
        <div class="col-sm-4">
            <input asp-for="Losenord" class="form-control" />
        </div>
    </div>
    <div class="form-group row">
        <div class="col-sm-2">
            <label>Bekräfta lösenord: </label>
        </div>
        <div class="col-sm-4">
            <input asp-for="BekraftaLosenord" class="form-control" />
        </div>
    </div>
    <div class="form-group row">
        <div class="offset-2 col-sm-4">
            <button type="submit" class="btn btn-primary">Registrera</button>
        </div>
    </div>
</form> *@
 
 @* @model AnvandarRegisterViewModel

@{
    ViewBag.Titel = "Registrera Ny Användare";
} *@

@* <div asp-validation-summary="All" class="text-danger"></div>

<form method="post" asp-action="Registrera">
    <div class="form-group row">
        <div class="col-sm-2">
            <label>Användarnamn: </label>
        </div>
        <div class="col-sm-4">
            <input asp-for="AnvandarNamn" class="form-control" />
        </div>
    </div>
    <div class="form-group row">
        <div class="col-sm-2">
            <label>Lösenord: </label>
        </div>
        <div class="col-sm-4">
            <input asp-for="Losenord" class="form-control" />
        </div>
    </div>
    <div class="form-group row">
        <div class="col-sm-2">
            <label>Bekräfta lösenord: </label>
        </div>
        <div class="col-sm-4">
            <input asp-for="BekraftaLosenord" class="form-control" />
        </div>
    </div>
    <div class="form-group row">
        <div class="col-sm-2">
            <label>Epost: </label>
        </div>
        <div class="col-sm-4">
            <input asp-for="Epost" class="form-control" />
        </div>
    </div>
    <div class="form-group row">
        <div class="col-sm-2">
            <label>Telefonnummer: </label>
        </div>
        <div class="col-sm-4">
            <input asp-for="TelefonNummer" class="form-control" />
        </div>
    </div>
    <div class="form-group row">
        <div class="col-sm-2">
            <label>Namn: </label>
        </div>
        <div class="col-sm-4">
            <input asp-for="Namn" class="form-control" />
        </div>
    </div>
    <div class="form-group row">
        <div class="col-sm-4 offset-2">
            <div class="form-check">
                <input asp-for="VillVaraPrivat" class="form-check-input" />
                <label class="form-check-label">Jag vill vara privat</label>
            </div>
        </div>
    </div>
    <div class="form-group row">
        <div class="offset-2 col-sm-4">
            <a href="CreateProfil.html" class="btn btn-primary">Registrera</a>
        </div>
    </div>

</form> *@
